*{
    margin:0px; 
    padding:0px; 
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(22, 21, 21);
    background-image: url(nature1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.card{
    backdrop-filter: blur(18px);
    width: 90%;
    max-width: 470px;
    margin:2rem auto 1rem;  
    padding:2rem;
    border-radius: 2.7rem;
    border: 1px solid grey;
    text-align: center;
}
 .search{
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center; 
} 
.search input{
    border: none;
    outline:none;
    background: #e3e2dd;
    color:#555;
    padding:10px 25px;
    margin-right:0.5rem;
    height:60px;
    /* width: 70%; */
    flex: 1;
    font-size: 18px;
    border-radius: 20px;
}
.search button{
    background: #e3e2dd;
    border: none ;
    outline: 0;
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
    cursor: pointer;
}
@media (max-width:505px) {
    .search button{
        background:none;
    }
}
.search button img{
    width: 1.3rem;
    flex: 1;
}
.weathericon{
    width: 10rem;
    margin-top: 1rem;
}
.weather h2{
    margin-top: 2rem;
}
.details{
    margin-top: 2rem;
    display:flex; 
    align-items: center;
    justify-content: space-between;
}
.col{
    display: flex;
    align-items: center;
    justify-content: left;
    font-weight: 700;
}
.col img{
    margin-right: 0.7rem;
    margin-left: 1.5rem;
}
.weather{
    display: none;
}
.error{
    font-size: large;
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    margin: 0.5rem;
    display: none;
}